*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

img {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul{
    text-align: left; 
}

b, i, strong, a {
    display: block;
    text-align: left;
}

.carrousel{
    width: 100%;
}

.contentCarrousel{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 230, 202);
    padding: 16vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    text-align: center;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemCarrouselArrows > img:hover {
    cursor: pointer;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows a {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.itemCarrouselArrows a:hover {
    opacity: 1;
}

.arrowContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}